<table class="table even" border="1" id="downloadExcel">
    <caption><h2>Day wise credit summary reports,{{ currentMonth }} {{ currentYear }}</h2>
        <h3>{{ option.organizationName }}</h3>
        MATI Industries Ltd.
    </caption>
    <thead class="flip-content ">
    <tr class="head-green">
        <th>S/N</th>
        <th>Name of Customer</th>
        <th>Eemp Id</th>
        <th>Details</th>
        <th>Gender</th>
        {% set max =  "now"|date("t") %}
        {% set today =  "now"|date("d") %}
        {% set month =  "now"|date("Y/m/") %}
        {% set year =  "now"|date("Y") %}
        {% set currentMonth =  "now"|date("F") %}
        {% for i in 1..max %}
            {% set blackO = date(month~i)|date('m/d/Y') %}
            <th class="text-center" >{{ i }}</th>
        {% endfor %}
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for user in customers  %}
        {% set customerTotal = 0 %}
        <tr>
            <th>{{ loop.index }}</th>
            <td class=""><span class="">{{ user.name }}</td>
            <td class="">{{ user.employeeId }}</td>
            <td class="">{{ user.profession }}, {{ user.department }}, {{ user.line }},{{ user.section }}</td>
            <td class="">{{ user.gender }}</td>
            {% for i in 1..max %}
                {% set blackO = user['customerId']~'-'~i %}
                <td>
                    {% if blackO is defined and entities[blackO] is defined and entities[blackO] is not empty %}
                        {% set customerTotal = customerTotal + entities[blackO] %}
                        {{ entities[blackO]|default(0)|number_format }}
                    {% endif %}
                </td>
            {% endfor %}
            <td>{{ customerTotal|number_format }}</td>
        </tr>
    {% endfor %}
    <th colspan="5" class="text-right">Grand Total</th>
    {% set totalMonthSales = 0 %}
    {% for i in 1..max %}
        <th> {% if daylies is defined and daylies[i] is defined and daylies[i] is not empty %}
                {% set totalMonthSales = totalMonthSales + daylies[i]|default(0)  %}
                {{ daylies[i]|number_format }}
            {% endif %}</th>
    {% endfor %}
    <th>{{ totalMonthSales|number_format }}</th>
    </tbody>
</table>